<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/users">Users</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-alerts></app-alerts>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<!-- credits -->
<div class="text-center">
  <p>
    MPLB
  </p>
</div>
