<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{'is-invalid': submitted && registerFields.firstName.errors}"/>
    <div *ngIf="submitted && registerFields.firstName.errors" class="invalid-feedback">
      <div *ngIf="registerFields.firstName.errors.required">First name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{'is-invalid': submitted && registerFields.lastName.errors}"/>
    <div *ngIf="submitted && registerFields.lastName.errors" class="invalid-feedback">
      <div *ngIf="registerFields.lastName.errors.required">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{'is-invalid': submitted && registerFields.username.errors}"/>
    <div *ngIf="submitted && registerFields.username.errors" class="invalid-feedback">
      <div *ngIf="registerFields.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': submitted && registerFields.password.errors}"/>
    <div *ngIf="submitted && registerFields.password.errors" class="invalid-feedback">
      <div *ngIf="registerFields.password.errors.required">Password is required</div>
      <div *ngIf="registerFields.password.errors.minlength">Minimum is 6</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Register</button>
    <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <button type="button" class="btn btn-link" (click)="onCancel()">Cancel</button>
  </div>
</form>
